<div class="container">
  <h1>Welcome, <%= @user.first_name %></h1>
  <div class="row">
  <div class="col-md-12">

    <b>Email: </b><%=@user.email%></br>
    <b>Member since: </b><%= @user.created_at.to_date%></br>
    <div>
      <% if current_user.id == @user.id %>
      <%= button_to "Edit" , edit_user_url , method: :get, class: "btn-default btn-sm profile-content" %>
      <%= button_to "Delete", @user, method: :delete,data:{confirm: "Are you sure you want to delete your account?"}, class: "btn-danger btn-sm profile-content" %>
      <% end %>
    </div>
  </div>
  </div>
</div>
  <div class="row">
  <div class="col-md-6">
    <h3>My Books</h3>
    <ul class="list-group">
      <% @user.books.each do |book| %>
        <% if book.user_id == current_user.id %>
        <li class="list-group-item">Book: <%= link_to book.title, book_path(book) %>, Created: <%= book.created_at.to_date %> </li>
        <% end %>
        <% end %>
    </ul>


  </div>
  <div class="col-md-6">
    <h3>My Reviews</h3>
    <ul class="list-group">
      <% @user.reviews.each do |review| %>
        <% if review.user_id == current_user.id %>
            <li class="list-group-item">Reviewed: <%= link_to review.book.title, book_path(review.book) %>, Created: <%= review.created_at.to_date %> </li>
          <% end %>
        <% end %>

    </ul>

  </div>

</div>
