<h1> Edit Book </h1>

<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title, label: "Book Title" %>
  <%= f.input :author %>
  <%= f.input :description %>
  <%= f.input :date_published %>
  <%= f.submit %>

<% end %>
