<!DOCTYPE html>
<html>
  <head>
    <title>Book-It</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%- flash.each do |name, msg| -%>
  <div class="alert alert-warning">
    <strong><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></strong>
  </div>
<%- end -%>

<% if current_user %>
  <nav class="navbar header">
    <%= link_to 'Logout', '/logout', class: 'btn btn btn-info' %>
  </nav>

<% else %>
    <nav class="navbar header">
      <%= link_to 'Sign Up', new_user_url, class: 'btn btn btn-info' %>
      <%= link_to 'Log In', new_session_url, class: 'btn btn btn-info' %>
    </nav>
    <% end %>


    <%= yield %>

  </body>
</html>
