<!DOCTYPE html>
<html>
  <head>
    <title>Book-It</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Overpass+Mono", media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>

    <%- flash.each do |name, msg| -%>
  <div class="alert alert-warning">
    <strong><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></strong>
  </div>
<%- end -%>

<% if current_user %>
  <nav class="navbar header">
    <%= link_to 'Logout', '/logout', class: 'btn btn btn-info' %>
    <%= link_to "Find a new book!", books_url, class: "btn btn-primary" %>
    <%= link_to "My Profile", user_url(current_user), class: 'btn btn-warning' %>
  </nav>

<% else %>
    <nav class="navbar header">
      <%= link_to 'Sign Up', new_user_url, class: 'btn btn btn-info' %>
      <%= link_to 'Log In', new_session_url, class: 'btn btn btn-info' %>
    </nav>
    <% end %>


    <%= yield %>

  </body>
</html>
